html, body {
      
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #DEDEDE;
      
  }

.rezied{
 
    display: block;
    max-width: 512px;
    height: auto;
    
}

#Ready{
 
    margin-bottom: 8px;
    margin-right: 8px;
    
}